## Oppgave 6.1

* Lag dataframen vist under
<img src="https://folk.ntnu.no/jonajh/iira2001/42/img/oppgave1.png">

* Programmet er påbegynt under
* Merk at det trekkes tilfeldige tall, slik at tallverdiene ikke blir nøyaktig de samme som på figuren

*Tips:* For å formatere heltall til 2 plasser med innledende nuller i en f-streng: 
`f"heltallet mitt er {tall:02d}"`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

n = 180
populasjon = np.random.normal(10.0,0.1,n) # Trekker tilfeldige tall med normalfordeling rundt 10
arbeidsledighet = np.random.normal(0.03,0.002,n) # Trekker tilfeldig arbeidsledighet, normalfordelt

# Oppgave 6.2
Når du har gjort 6.1 sjekk at du kan slå opp i dataframe ved å:
1. Hente ut enkteltvise kolonner
2. Hente ut flere kolonner
3. Hente ut en rad
4. Hente ut flere rader
5. Hente ut enkeltvise datapunkt
6. Hente ut rader ved å slice (feks fra november 2003 til august 2004)
7. Hente ut deler av dataframe med å slice radene og velge 1 eller flere av kolonnene

# Oppgave 6.3

Vi skal lage en funksjon som hjelper oss med å omgjøre dataframes med data for hver måned til hvert kvartal
og hvert kvartal til hvert år.

* Anta at tidene er på formene:
    - yyyyKq feks 1983K2 for  andre kvartal 1983
    - yyyyMmm feks 2001M03 for mars (måned 3) i 2001
    - yyyy feks 2020
* Lag to funksjoner:
    - Det ene tar et dataframe med index på månedsformen og gir tilbake et på kvartalsformen
    - Den andre funksjonen tar et dataframe med index på kvartalsformen og gir tilbake et på «årsformen»

Anta først at dataframen kun har 1 kolonne. Når du har fått det til kan du gjøre om funksjonen slik at den
fungerer med flere kolonner.

Et par ting å ta hensyn til/problemer å løse:

* Noen ganger gir det mening å legge sammen dataene fra månedene i et kvartal, feks ved åpnede konkurser
* Andre ganger må man gjøre noe annet, feks ved arbeidsledighet kanskje man tar gjennomsnittet
* Hvordan lage en funksjon som tar hensyn til dette ved kun 1 kolonne og ved flere kolonner?
* Hva med kolonner som gir prosent som en streng `"2.1%"`i stedet for `0.021`, kan vi tilpasse funksjonen?

Du kan teste funksjonene dine på dataframe vi lagde i 6.1, eller i settene i 6.4
Forslag på funksjon er påbegynt i cellene under

In [ ]:
def month_to_quarter(df, kumulative=[]):
    """
    df: dataframe med indeks på månedsform yyyyMmm (ie 1987M04 = april 1987)
    
    kumulative: En liste med kolonnenavn hvor kvartalsverdien 
        skal være summen av månedsverdiene. Default er en tom liste.
        For øvrige kolonner blir kvartalsverdien gjennomsnittsverdien av månedsverdiene

    Funksjonen returnerer et nytt dataframe med indeks på kvartalsform yyyyKq (ie 1987K2 for andre kvartal 1987)
    """


    
    # Kode Kode
    return .....

In [ ]:
def quarter_to_year(df, kumulative=[]):
    """
    df: dataframe med indeks på kvartalsform yyyyKk (ie 1987K2 = andre kvartal 1987)
    
    kumulative: En liste med kolonnenavn hvor årsverdien 
        skal være summen av kvartalsverdiene. Default er en tom liste.
        For øvrige kolonner blir årsverdien gjennomsnittsverdien av kvartalsverdiene

    Funksjonen returnerer et nytt dataframe med indeks på årsform yyyy (ie 1987 for herrens år 1987)
    """
    # Kode Kode
    return .....

In [3]:
arbeidsledige_df = pd.read_csv("08518_20231018-095706.csv", sep="\t")
konkurser_df = pd.read_csv("09695_20231018-104409.csv", sep="\t", encoding="ISO-8859-1")